################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/twofactorauth/twofactorauth/obj
/twofactorauth/.vs/twofactorauth
/twofactorauth/twofactorauth/bin/Debug/net6.0
/twofactorauth/.vs/ProjectEvaluation
